<div class="row">
  <div class="column small-12">
    <p class="text-center">
      <% if user_signed_in? %>
          Hey <%= current_user.first_name %>, you are signed in!
      <% else %>
        Hello, anonymous not logged in person...
      <% end %>
    </p>
  </div>
</div>
